body {
  text-align: center;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  background-color: #f7eccf;
}

p {
  line-height: 1.5;
}

.links a {
  padding: 10px;
  color: #d27300;
  text-decoration: none;
}

.links a:hover {
  font-weight: bold;
}
.croissant {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 600px;
  border-radius: 5px;
}

.email {
  color: #d27300;
}
